.App {
  font-family: "Roboto", sans-serif;

  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.playerCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.playerCard {
  border: 2px solid orange;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
}

nav a {
  margin: 0 10px;
}
