.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
}

nav {
  background: linear-gradient(90deg, #020024 7%, #26665b 59%, #0e2d33 100%);
  padding: 35px 0;
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav a {
  margin: 0 10px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 600;
}